#header {
  padding: 1em 0px 3em;
}
.tag-button {
  padding: 0.2em 0.95em;
}

.org-ul {
  list-style: disc;
}

#features-wrapper pre.src,
#features-wrapper pre {
  overflow: hidden;
}

pre.src {
  background-color: #ebebeb;
  box-shadow: 3px 3px #666;
  overflow-x: auto;
  padding: 1% 5% 1% 5%;
  margin-bottom: 1em;
  border-radius: 4px;
}

#features-wrapper #content {
  height: 10em;
  overflow: hidden;
}

#features-wrapper h3 {
  height: 4em;
}

#features-wrapper section section {
    border: 2px solid rgb(237, 120, 106);
    border-radius: 3px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}