extends base.jade
block head
  {{ super() }}
  for keyword in article.keywords
    meta(name="keywords", contents="{{keyword}}")

  for description in article.description
    meta(name="description", contents="{{description}}")

  for tag in article.tags
    meta(name="tags", contents="{{tag}}")

block content
  .row
    // Content
    #content.8u.skel-cell-important
      // Post
      article.is-post
        header
          h2
            {{ article.title }}
          .post-infos
            ul.tags
              if article.category
                li
                  a.button(href="{{ article.category.url }}") {{ article.category|capitalize }}
              for tag in article.tags
                li
                  a.button.button-alt(href="{{ tag.url }}") {{ tag|capitalize }}
          .pennant.pennant-alt.date {{ article.date|strftime('%Y-%m-%d') }}
        span.image.image-full
          img(src='{{ SITEURL }}/{{ article.picture }}', alt='')
        {{ article.content }}
      include 'disqus_script.jade'

    // Sidebar
    #sidebar.4u
      // Excerpts
      section
        ul.divided
          li
            // Excerpt
            article.is-excerpt
              header
                span.date May 18&comma; 2013
                h3
                  a(href='#') Ermergerd sterf herpernd
              p
                | Lorem ipsum dolor odio facilisis convallis&period; Etiam non nunc vel est
                | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore&period;
          li
            // Excerpt
            article.is-excerpt
              header
                span.date May 15&comma; 2013
                h3
                  a(href='#') Kerfer merks mer herper
              p
                | Lorem ipsum dolor odio facilisis convallis&period; Etiam non nunc vel est
                | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore&period;
          li
            // Excerpt
            article.is-excerpt
              header
                span.date May 12&comma; 2013
                h3
                  a(href='#') Blerg persts er fern
              p
                | Lorem ipsum dolor odio facilisis convallis&period; Etiam non nunc vel est
                | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore&period;
      // Highlights
      section
        ul.divided
          li
            // Highlight
            article.is-highlight
              header
                h3
                  a(href='#') Something of note
              a.image.image-left(href='http://regularjane.deviantart.com/art/In-Your-Hands-356733525')
                img(src='images/pic06.jpg', alt='')
              p
                | Phasellus  sed laoreet massa id justo mattis pharetra&period; Fusce suscipit ligula vel quam
                | viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
                | convallis&period; Etiam non nunc vel est suscipit convallis non id orci&period; Ut interdum tempus
                | facilisis convallis&period; Etiam non nunc vel est suscipit convallis non id orci&period;
              ul.actions
                li
                  a.button.button-icon.fa.fa-file(href='#') Learn More
          li
            // Highlight
            article.is-highlight
              header
                h3
                  a(href='#') Something of less note
              a.image.image-left(href='http://regularjane.deviantart.com/art/Pink-Rain-2009-134901803')
                img(src='images/pic07.jpg', alt='')
              p
                | Phasellus  sed laoreet massa id justo mattis pharetra&period; Fusce suscipit ligula vel quam
                | viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
                | convallis&period; Etiam non nunc vel est suscipit convallis non id orci&period; Ut interdum tempus
                | facilisis convallis&period; Etiam non nunc vel est suscipit convallis non id orci&period;
              ul.actions
                li
                  a.button.button-icon.fa.fa-file(href='#') Learn More