extends "base.html"
block content
  | {%- include 'header.html' %}
  // Main Wrapper
  #main-wrapper
    // Main
    #main.container
      .row
        // Content
        #content.8u
          article.is-post
            if article.picture
              .image.image-full
                img(src="{{ SITEURL }}/{{ article.picture }}")
                  a.img-copy(href="{{ article.picturecopyrights }}") {{ article.picturecopyrights }}
            .post-infos
              ul
                if article.category
                  li.button.tag-button
                    span
                      a.fa.fa-folder(href="{{ article.category.url }}") {{ article.category|capitalize }}
                for tag in article.tags
                  li.button.tag-button
                    span
                      a.fa.fa-tag(href="{{ tag.url }}") {{ tag|capitalize }}
            .pennant.pennant-alt.date {{ article.date|strftime('%Y-%m-%d') }}
            h2 {{ article.title }}
            {{ article.content }}
            | {% include 'disqus_script.html' %}
        | {%- include 'sidebar.html' %}
  | {%- include 'footer.html' %}
