extends base.html
block head
  {{ super() }}
  for keyword in article.keywords
    meta(name="keywords", contents="{{keyword}}")

  for description in article.description
    meta(name="description", contents="{{description}}")

  for tag in article.tags
    meta(name="tags", contents="{{tag}}")

block content
  .row
    // Content
    #content.8u.skel-cell-important
      // Post
      article.is-post
        header
          h2
            {{ article.title }}
          .post-infos
            ul.tags
              if article.category
                li
                  a.button(href="{{ article.category.url }}") {{ article.category|capitalize }}
              for tag in article.tags
                li
                  a.button.button-alt(href="{{ tag.url }}") {{ tag|capitalize }}
          .pennant.pennant-alt.date {{ article.date|strftime('%Y-%m-%d') }}
        span.image.image-full
          img(src="{{ SITEURL }}/{{ article.picture }}", alt='')
        {{ article.content }}
      include disqus_script.html

    // Sidebar
    include sidebar.html
