// Banner Wrapper
#banner-wrapper
  .inner
    // Banner
    section#banner.container
      p
        | Use this space for
        strong profound thoughts
        | .
        br
        | Or an enormous ad. Whatever.
