{% extends "base.jade" %}{% block head %}{{ super() }}
{% for keyword in __pyjade_iter(article.keywords,1) %}
<meta name="keywords" contents="{{keyword}}"/>{% endfor %}{% for description in __pyjade_iter(article.description,1) %}
<meta name="description" contents="{{description}}"/>{% endfor %}{% for tag in __pyjade_iter(article.tags,1) %}
<meta name="tags" contents="{{tag}}"/>{% endfor %}{% endblock %}{% block content %}
<div class="row">
  <!-- Content-->
  <div id="content" class="8u skel-cell-important">
    <!-- Post-->
    <article class="is-post">
      <header>
        <h2>{{ article.title }}

        </h2>
        <div class="post-infos">
          <ul class="tags">{% if  article.category %}
            <li><a href="{{ article.category.url }}" class="button">{{ article.category|capitalize }}</a>
            </li>{% endif %}{% for tag in __pyjade_iter(article.tags,1) %}
            <li><a href="{{ tag.url }}" class="button button-alt">{{ tag|capitalize }}</a>
            </li>{% endfor %}
          </ul>
        </div>
        <div class="pennant pennant-alt date">{{ article.date|strftime('%Y-%m-%d') }}</div>
      </header><span class="image image-full"><img src="{{ SITEURL }}/{{ article.picture }}" alt=""/></span>{{ article.content }}

    </article>{% include "'disqus_script.jade'" %}
  </div>
  <!-- Sidebar-->{% include "'sidebar.jade'" %}
</div>{% endblock %}