    // Post
    article.is-post
      header
        h2
          a(href='#')
            | I don&rsquor;t want to say
            strong it&rsquor;s the aliens
            | ...
            br
            | but it&rsquor;s the aliens.
      a.image.image-full(href='http://regularjane.deviantart.com/art/Write-354865228')
        img(src='/theme/images/pic04.jpg', alt='')
      h3 I mean isn't it possible&quest;
      p
        | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
        | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
        | sit amet magna accumsan tristique. Curabitur leo nibh&comma; rutrum eu malesuada
        | in&comma; tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
        | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
        | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
        | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
        | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
        | Curabitur leo nibh&comma; rutrum eu malesuada in&comma; tristique at erat.
      ul.actions
        li
          a.button.button-icon.fa.fa-file(href='#') Continue Reading
    // Post
    article.is-post
      header
        h2
          a(href='#')
            | By the way&comma; many thanks to
            strong regularjane
            | for these awesome demo photos
      a.image.image-full(href='http://regularjane.deviantart.com/art/Old-Player-350896538')
        img(src='/theme/images/pic05.jpg', alt='')
      h3 You should probably check out her work
      p
        | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
        | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
        | sit amet magna accumsan tristique. Curabitur leo nibh&comma; rutrum eu malesuada
        | in&comma; tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
        | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
        | in&comma; tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
        | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
        | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
        | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
        | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
        | Curabitur leo nibh&comma; rutrum eu malesuada in&comma; tristique at erat.
      p
        | Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat
        | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula
        | vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet
        | magna accumsan tristique. Curabitur leo nibh&comma; rutrum eu malesuada in&comma;
        | tristique at erat. Curabitur leo nibh&comma; rutrum eu malesuada  in&comma; tristique
        | at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna
        | tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros consequat
        | magna tempus
      ul.actions
        li
          a.button.button-icon.fa.fa-file(href='#') Continue Reading
