// Footer Wrapper
#footer-wrapper
  // Footer
  #footer.container
    header
      h2
        | Questions or comments?
        strong Get in touch:
    .row
      if ABOUT_TEXT is defined or ABOUT_IMAGE is defined or ABOUT_LINK is defined
        .4u
          section
            header
              h2 About
            if ABOUT_LINK is defined 
              a.image.image-full(href="{{ ABOUT_LINK }}")
                img(src="{{ SITEURL }}/{{ ABOUT_IMAGE }}", alt="")
            else
              if ABOUT_IMAGE is defined
                img.image.image-full(src="{{ SITEURL }}/{{ ABOUT_IMAGE }}", alt="")
            p
              {{ ABOUT_TEXT }}
            footer
              if ABOUT_LINK is defined
                a.button(href="{{ ABOUT_LINK }}") Find out more
      .8u
        section
          .row
            header
              h2 Contact
            ul.icons.4u
              if TWITTER_USER is defined
                li.fa.fa-twitter
                  a(href='http://twitter.com/{{ TWITTER_USER }}') Twitter
              if FACEBOOK_USER
                li.fa.fa-facebook
                  a(href="https://www.facebook.com/{{ FACEBOOK_USER }}") Facebook 
              if GOOGLEPLUS_USER
                li.fa.fa-google-plus
                  a(href="https://plus.google.com/{{ GOOGLEPLUS_USER }}") Google+
              if LINKEDIN_USER
                li.fa.fa-linkedin
                  a(href="http://www.linkedin.com/pub/{{ LINKEDIN_USER }}") LinkedIn
              if GITHUB_URL
                li.fa.fa-github
                  a(href="http://www.github.com/{{ GITHUB_URL }}") Github
            if ADDRESS is defined or MAIL is defined or PHONE is defined
              ul.icons.4u
                if ADDRESS is defined
                  li.fa.fa-home
                    Address
                    p {{ ADDRESS }}
                if MAIL is defined
                  li.fa.fa-envelope
                    Mail
                    a(href="mailto:{{ MAIL }}"){{ MAIL }}
                 if PHONE
                   li.fa.fa-phone
                     Phone
                     a(href="tel:{{ PHONE }}") {{PHONE}}
  // Copyright
  #copyright.container
    ul.links
      li &copy; Untitled. All rights reserved
      li
        | Demo images&colon;
        a(href='http://regularjane.deviantart.com/') regularjane
      li
        | Design&colon;
        a(href='http://html5up.net/') HTML5 UP
