// Footer Wrapper
#footer-wrapper
  // Footer
  #footer.container
    header
      h2
        | Questions or comments&quest;
        strong Get in touch&colon;
    .row
      .12u
        section
          p
            | Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
            | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
            | leo nibh&comma; rutrum eu malesuada.
          .row
            ul.icons.6u
              li.fa.fa-home
                | 1234 Somewhere Road
                br
                | Nashville&comma; TN 00000
                br
                | USA
              li.fa.fa-phone
                | &lpar;000&rpar; 000-0000
              li.fa.fa-envelope
                a(href='#') info&commat;untitled.tld
            ul.icons.6u
              li.fa.fa-twitter
                a(href='http://twitter.com/n33co') &commat;untitled-tld
              li.fa.fa-dribbble
                a(href='http://dribbble.com/n33') dribbble.com&sol;untitled-tld
              li.fa.fa-facebook
                a(href='#') facebook.com&sol;untitled-tld
              li.fa.fa-google-plus
                a(href='#') google.com&sol;&plus;untitled-tld
  // Copyright
  #copyright.container
    ul.links
      li &copy; Untitled. All rights reserved
      li
        | Demo images&colon;
        a(href='http://regularjane.deviantart.com/') regularjane
      li
        | Design&colon;
        a(href='http://html5up.net/') HTML5 UP
