// Header Wrapper
#header-wrapper
  // Header
  #header.container
    // Logo
    h1#logo
      a(href='#') Strongly Typed
    p A responsive HTML5 site template. Manufactured by HTML5 UP.
    // Nav
    nav#nav
      ul
        li
          a.fa.fa-home(href='index.html')
            span Introduction
        li
          a.fa.fa-bar-chart-o(href='')
            span Dropdown
          ul
            li
              a(href='#') Lorem ipsum dolor
            li
              a(href='#') Magna phasellus
            li
              a(href='#') Etiam dolore nisl
            li
              a(href='') Phasellus consequat
              ul
                li
                  a(href='#') Magna phasellus
                li
                  a(href='#') Etiam dolore nisl
                li
                  a(href='#') Phasellus consequat
            li
              a(href='#') Veroeros feugiat
        li
          a.fa.fa-cog(href='left-sidebar.html')
            span Left Sidebar
        li
          a.fa.fa-retweet(href='right-sidebar.html')
            span Right Sidebar
        li
          a.fa.fa-sitemap(href='no-sidebar.html')
            span No Sidebar
