extends "base.html"
block content
  | {%- include 'header.html' %}
  // Main Wrapper
  #main-wrapper
    // Main
    #main.container
      .row
        // Content
        #content.12u
          article.is-post
            if page.picture
              .image.image-full
                img(src="{{ SITEURL }}/{{ page.picture }}")
                  a.img-copy(href="{{ page.picturecopyrights }}") {{ page.picturecopyrights }}
            h2 {{ page.title }}
            {{ page.content }}
            | {% include 'disqus_script.html' %}
  | {%- include 'footer.html' %}