!!! 5
//
    Strongly Typed 1.1 by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    block head
      title Right Sidebar - Strongly Typed by HTML5 UP
      meta(http-equiv='content-type', content='text/html; charset=utf-8')
      meta(name='description', content='')
      meta(name='keywords', content='')
      meta(name='viewport', content='width=1040')
      link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700', rel='stylesheet', type='text/css')
      //if lte IE 8
        script(src='/theme/js/html5shiv.js')
      script(src='/theme/js/jquery.min.js')
      script(src='/theme/js/jquery.dropotron.min.js')
      script(src='/theme/js/config.js')
      script(src='/theme/js/skel.min.js')
      script(src='/theme/js/skel-panels.min.js')
      noscript
        link(rel='stylesheet', href='/theme/css/skel-noscript.css')
        link(rel='stylesheet', href='/theme/css/style.css')
        link(rel='stylesheet', href='/theme/css/style-desktop.css')
  body.right-sidebar
    // Header Wrapper
    #header-wrapper
      // Header
      #header.container
        // Logo
        h1#logo
          a(href='{{ SITEURL }}') {{ SITENAME }}
        p A responsive HTML5 site template&period; Manufactured by HTML5 UP&period;
        // Nav
        nav#nav
        ul
          for title, link in MENUITEMS
            li
              a.fa(href="{{ link }}")
                span {{ title }}
          
          if DISPLAY_PAGES_ON_MENU
            for p in PAGES
              if p == page
                set class="active"
              li(class="{{class}}")
                a.fa(href="{{ SITEURL }}/{{ p.url }}")
                  span {{ p.title }}
          else
            if DISPLAY_CATEGORIES_ON_MENU
              for cat, null in categories
                if cat == category
                  set class="active" 
                li(class="{{class}}"
                  a.fa(href="{{ SITEURL }}/{{ cat.url }}")
                    span {{ cat }}
    // Main Wrapper
    #main-wrapper
      // Main
      #main.container
        block content
    // Footer Wrapper
    #footer-wrapper
      // Footer
      #footer.container
        header
          h2
            | Questions or comments&quest;
            strong Get in touch&colon;
        .row
          .6u
            section
              form(method='post', action='#')
                .row.half
                  .6u
                    input.text(type='text', name='name', placeholder='Name')
                  .6u
                    input.text(type='text', name='email', placeholder='Email')
                .row.half
                  .12u
                    textarea(name='message', placeholder='Message')
                .row.half
                  .12u
                    a.button.button-icon.fa.fa-envelope(href='#') Send Message
          .6u
            section
              p
                | Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
                | mollis tortor congue&period; Sed quis mauris sit amet magna accumsan tristique&period; Curabitur
                | leo nibh&comma; rutrum eu malesuada&period;
              .row
                ul.icons.6u
                  li.fa.fa-home
                    | 1234 Somewhere Road
                    br
                    | Nashville&comma; TN 00000
                    br
                    | USA
                  li.fa.fa-phone
                    | &lpar;000&rpar; 000-0000
                  li.fa.fa-envelope
                    a(href='#') info&commat;untitled&period;tld
                ul.icons.6u
                  li.fa.fa-twitter
                    a(href='http://twitter.com/n33co') &commat;untitled-tld
                  li.fa.fa-dribbble
                    a(href='http://dribbble.com/n33') dribbble&period;com&sol;untitled-tld
                  li.fa.fa-facebook
                    a(href='#') facebook&period;com&sol;untitled-tld
                  li.fa.fa-google-plus
                    a(href='#') google&period;com&sol;&plus;untitled-tld
      // Copyright
      #copyright.container
        ul.links
          li &copy; Untitled&period; All rights reserved
          li
            | Demo images&colon;
            a(href='http://regularjane.deviantart.com/') regularjane
          li
            | Design&colon;
            a(href='http://html5up.net/') HTML5 UP
