// Sidebar
#sidebar.4u
  // Excerpts
  section
    //-include tags.html
    ul.divided
      li
        // Excerpt
        article.is-excerpt
          header
            span.date May 18&comma; 2013
            h3
              a(href='#') Ermergerd sterf herpernd
          p
            | Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
            | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
  // Highlights
  section
    ul.divided
      li
        // Highlight
        article.is-highlight
          header
            h3
              a(href='#') Something of note
          a.image.image-left(href='http://regularjane.deviantart.com/art/In-Your-Hands-356733525')
            img(src='/theme/images/pic06.jpg', alt='')
          p
            | Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
            | viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
            | convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
            | facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.
          ul.actions
            li
              a.button.button-icon.fa.fa-file(href='#') Learn More
